<%= simple_form_for task do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :subject, label: 'Subject', error: 'Username is mandatory, please specify one' %>
  <%= f.input :description, as: :text %>
  <%= f.input :status, collection: Task.statuses.values, default: Task.statuses.values.first %>
  <%= f.input :type, as: :radio_buttons, collection: Task.types %>

  <%= f.button :submit %>
<% end %>