<div class="task-form">
  <%= simple_form_for task do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :subject, label: 'Subject' %>
      <%= f.input :description, as: :text %>
      <%= f.input :status, collection: Task.statuses.values, default: Task.statuses.values.first %>
      <%= f.input :type, as: :radio_buttons, collection: Task.types %>
      <%= f.input :assignee, collection: User.all %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>