<div class="task row">
  <div class="col md 9">
    <div class="type">
      <p><%= @task.type %></p>
    </div>
    <div class="subject">
      <h1><%= @task.subject %></h1>
    </div>
    <div class="description">
      <p><%= @task.description %></p>
    </div>
  </div>

  <% if is_task_in_to_do? %>
    <p><%= link_to "Start working", start_working_task_path(@task), class: 'btn btn-primary' %><p>
  <% end %>

  <% if is_task_in_process? %>
    <p><%= link_to "Back to To Do", back_to_do_task_path(@task), class: 'btn btn-info' %><p>
    <p><%= link_to "Send to review", send_to_review_task_path(@task), class: 'btn btn-secondary' %><p>
  <% end %>

  <% if is_task_in_review? %>
    <p><%= link_to "Close", close_task_path(@task), class: 'btn btn-info' %><p>
  <% end %>

  <div class="col md 3">
    <% if policy(@task).edit? %>
      <p><%= link_to "Edit task", edit_task_path(@task) %></p>
    <% end %>
    <div class="status">
      <p><%= Task.statuses[@task.status] %></p>
    </div>
    <div class="created_at">
      <p>Created: <%= @task.created_at %></p>
    </div>
    <div class="updated_at">
      <p>Updated: <%= @task.updated_at %></p>
    </div>
  </div>
</div>
