<div class="row">
  <div class="col md 9">
    <div class="type">
      <p><%= @task.type %></p>
    </div>
    <div class="subject">
      <h1><%= @task.subject %></h1>
    </div>
    <div class="description">
      <p><%= @task.description %></p>
    </div>
  </div>

  <% if policy(@task).edit? %>
    <%= link_to "Edit task", edit_task_path(@task) %>
  <% end %>

  <div class="col md 3">
    <div class="status">
      <p><%= Task.statuses[@task.status] %></p>
    </div>
    <div class="created_at">
      <p>Created: <%= @task.created_at %></p>
    </div>
    <div class="updated_at">
      <p>Updated: <%= @task.updated_at %></p>
    </div>
  </div>
</div>
